<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Объявление</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
<div class="ad-page-container">
  <div class="carousel">
    <button class="carousel-button prev" onclick="moveSlide(-1)">&#10094;</button>
    <div class="carousel-slides">
      <img th:each="photo : ${ad.photos}" th:src="${photo.url}" alt="Фото объявления" class="carousel-image">
    </div>
    <button class="carousel-button next" onclick="moveSlide(1)">&#10095;</button>
  </div>
  <h1 th:text="${ad.title}"></h1>
  <p class="ad-price" th:text="${ad.price} + ' ₽'"></p>
  <p th:text="${ad.description}"></p>
  <p class="ad-contact" th:text="'Контакт: ' + ${ad.contact}"></p>
  <div class="button-group">
    <a href="/" class="button back-button">Назад к объявлениям</a>
    <a th:href="@{/ads/edit/{id}(id=${ad.id})}" class="button edit-button">Редактировать</a>
  </div>
  <div class="buttons-container">
    <form th:action="@{/ads/delete/{id}(id=${ad.id})}" method="post" class="delete-form">
      <button type="submit" class="button delete-button">Удалить объявление</button>
    </form>
  </div>
</div>

<script>
  let slideIndex = 0;
  function showSlides() {
      const slides = document.querySelectorAll('.carousel-image');
      if (slides.length > 0) {
          slides.forEach((slide, index) => {
              slide.style.display = (index === slideIndex) ? 'block' : 'none';
          });
      }
  }
  function moveSlide(n) {
      const slides = document.querySelectorAll('.carousel-image');
      if (slides.length > 0) {
          slideIndex = (slideIndex + n + slides.length) % slides.length;
          showSlides();
      }
  }
  document.addEventListener('DOMContentLoaded', showSlides);
</script>
</body>
</html>
