<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="container">
    <h1>Объявления</h1>
    <div id="ad-list" class="ad-list">
    </div>
    <div class="add-ad-button-container">
        <a href="/ads/new" class="btn-add-ad">Добавить объявление</a>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        fetch('/ads')
            .then(response => response.json())
            .then(data => {
                const adList = document.getElementById('ad-list');
                data.slice(0, 6).forEach(ad => {
                    const adElement = document.createElement('div');
                    adElement.className = 'ad-card';

                    const photoUrl = ad.photos.length > 0
                    ? ad.photos[0].url
                    : 'https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.womantowomanmentoring.org%2Fmentor%2Fplaceholder%2F&psig=AOvVaw1jp-Uqj-HmrMgEJuh7G2Dh&ust=1726126094611000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCNi1zveuuogDFQAAAAAdAAAAABB2';

                    adElement.innerHTML = `
                        <a href="/ads/${ad.id}">
                            <img src="${photoUrl}" alt="${ad.title}" class="ad-image">
                            <div class="ad-details">
                                <h2 class="ad-title">${ad.title}</h2>
                                <p class="ad-price">${ad.price} ₽</p>
                            </div>
                        </a>
                    `;
                    adList.appendChild(adElement);
                });
            });
    });
</script>
</body>
</html>
